@use './all-vars' as *;

// Padding

$padding-std: clamp(3rem, 3vw, 4rem);
$padding-deep: clamp(3rem, 5vw, 6rem);

.padding {
	padding-top: $padding-deep;
	padding-bottom: $padding-deep;

	.c-product-details & {
		padding-top: $padding-deep;
		padding-bottom: $padding-deep;
	}
}

.nopaddingtop {
	padding-top: 0 !important;
}

.nopaddingbottom {
	padding-bottom: 0 !important;
}

.nopaddingtopbottom {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.nomargintop {
	margin-top: 0 !important;
}

.nomarginbottom {
	margin-bottom: 0 !important;
}

.nomargin {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}


// backgrounds

.background--white {
	background-color: $white;
}

// Hide for screen readers
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border: 0 !important;
}

.row {
	@include padding-loose;
	&{
		width: 100%;
		margin-top: $gap;
		margin-bottom: $gap;
	}
	&--nomargin {
		margin-top: 0;
		margin-bottom: 0;
	}

	&--nomargin-top {
		margin-top: 0;
	}

	&--nomargin-bottom {
		margin-bottom: 0;
	}

	&--no-padding {
		padding: 0;
	}

	&--no-padding__left {
		padding-left: 0;
	}

	&--no-padding__right {
		padding-right: 0;
	}

	&--lighter {
		background-color: $color-bg-2;
	}
	&--lightest {
		background-color: $color-bg-3;
	}
}

.row-container {
	width: 100%;
	max-width: $site-width-narrow;
	margin-right: auto;
	margin-left: auto;
	&--wide {
		@extend .row-container;
		max-width: $site-width-wide;
	}
	&--wider {
		@extend .row-container;
		max-width: $site-width-wider;
	}
	&--full {
		@extend .row-container;
		max-width: unset;
	}
}