@use '@/app/styles/mixins' as *;

.main{
	display: flex;
	flex-direction: column;
	&__about{
		@include break(tablet){
			order: 1;
		}
	}
	&__content{
		min-height: 465px;
		display: flex;
		border-top: 1px solid var(--color-line-off-black);
		border-bottom: 1px solid var(--color-line-off-black);
		background: var(--color-bg-3);
	}
}
