@use '@/app/styles/all-vars' as *;

.main{
	display: flex;
	flex-direction: column;
	&__about{
		@include break(tablet){
			order: 1;
		}
	}
	&__content{
		min-height: 465px;
		display: flex;
		border-top: 1px solid $color-line-off-black;
		border-bottom: 1px solid $color-line-off-black;
	}
}