@use './all-vars' as *;

hr {
	margin-top: $gap*2;
	margin-bottom: $gap*2;
	height: .5px;
	background-color: $color-bitcoin;
	border: 0;
	width: 80px;
}

h1{
	&:not([class]){
		@include text-heading;
		color: $white;
	}
}
