:root {
	// Layout
	--header-height: 147px;
	--header-height-mobile: 82px;
	--site-width-narrow: 800px;
	--site-width-wide: 1000px;
	--site-width-wider: 1300px;
	--gap: 1.5rem;
	--gap-deep: 3.5rem;
	--content-offset: 6rem;
	--padding-std: clamp(3rem, 3vw, 4rem);
	--padding-deep: clamp(3rem, 5vw, 6rem);
	--border-radius: 3px;
	--edgepadding: 3rem;
	--edgepadding-mobile: 1rem;
	--edgepadding-mobile-loose: 3rem;

	// Colors
	--white: #ffffff;
	--black: #000000;
	--color-bitcoin: #f7931a;
	--color-bitcoin-accessible: #D67600;
	--color-primary: var(--color-bitcoin);
	--color-primary--light: #e19539;
	--color-accent: #00E0FF;
	--color-accent--light: #9AF3FF;
	--color-focus: #00E0FF;
	--gradient: linear-gradient(45deg, rgba(0, 224, 255, 0.1) 0%, rgba(247, 147, 26, 0.1) 100%);
	--color-bg-1: #000000;
	--color-bg-2: #080808;
	--color-bg-3: #151515;
	--color-text: #ffffff;
	--color-text-reverse: #000000;
	--color-link: var(--white);
	--color-text-link: var(--color-accent);
	--color-line: #F2F2F2;
	--color-line-dark: #d8d8d8;
	--color-line-solid: #707070;
	--color-line-off-black: #333333;

	// Borders
	--borderline: 2px solid #F2F2F2;
	--borderline-darker: 2px solid #d8d8d8;
	--borderline-solid: 2px solid #707070;

	// Easings
	--move-whip: cubic-bezier(0.8, 0, 0.3, 1);
	--move-snap: cubic-bezier(0.7, -0.5, 0.3, 1.5);
	--move-snap-in: cubic-bezier(0.6, -0.3, 0.7, 0);
	--move-snap-out: cubic-bezier(0.2, 0.9, 0.3, 1.3);
	--fast-to-slow: cubic-bezier(0.11, 0.71, 0.46, 0.91);

	// Typography
	--font-size-s: clamp(1.4rem, 1.45vw, 1.5rem);
	--font-size-m: clamp(1.5rem, 1.6vw, 1.7rem);
	--font-size-l: clamp(1.7rem, 1.85vw, 2rem);
	--font-size-xl: clamp(2rem, 2.25vw, 2.5rem);
	--font-size-xxl: clamp(2.5rem, 2.8vw, 3.2rem);
	--font-size-standard: var(--font-size-s);
	--line-height-standard: 1.6;
}
