@use '@/app/styles/mixins' as *;

.stats{
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	font-size: var(--font-size-s);
	text-align: center;
	justify-content: center;
	@include break(tablet){
		flex-direction: row;
	}
	> span{
		display: flex;
		align-items: center;
		&::after{
			@include break(tablet){
				@include divider;
				content: '—';
				display: inline-block;
			}
		}
		&:last-of-type{
			&::after{
				display: none;
			}
		}
	}
}
