@use '@/app/styles/all-vars' as *;

.skulls{
	display: flex;
	justify-content: center;
	gap: .5rem;
	@mixin skullDefaults{
		display: flex;
		align-items: center;
	}
	.skullIcon{
		@include skullDefaults;
		&____black{
			@include skullDefaults;
			color: black;
		}
	}
}