@use '@/app/styles/all-vars' as *;

.logoLockup{
    display: flex;
    flex-direction: row;
    &__logo{
        flex-shrink: 0;
        margin-right: 2rem;
    }
    &__sitename{
        @include text-heading-display;
        font-size: 4.6rem;
    }
    &__subtitle{
        @include text-blocky-small;
        color: $color-bitcoin;
    }
}