@use '@/app/styles/all-vars' as *;

.logoLockup{
    display: flex;
    flex-direction: row;
	width: 100%;
	height: auto;
    &__logo{
        margin-right: 2rem;
    }
    &__sitename{
        @include text-heading-display;
		line-height: 1;
        font-size: 4.6rem;
    }
    &__subtitle{
        @include text-blocky-small;
        color: $color-bitcoin;
    }
}