.loading{
	display: block;
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	&__icon{
		animation: spin 1s ease-out infinite;
	}
}

@keyframes spin {
	to { transform: rotate(360deg); }
}