@use '@/app/styles/all-vars' as *;

.footer{
	padding-bottom: $gap;
    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1em;
		a{
			@include text-link;
		}
    }
    &__signoff{
        text-align: center;
        @include text-blocky-small;
        line-height: unset;
    }
}