@use '@/app/styles/all-vars' as *;

.converter__form {
	[data-scope='number-input'][data-part='root']{
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid $color-primary;
		border-radius: 1px;
		box-sizing: border-box;
		[data-part='label'] {
			@include sr-only;
		}
		/* The numeric input */
		[data-part='input'] {
			background: transparent;
			border: 0;
			outline: none;
			caret-color: $color-primary;
			padding: 0 .6em;
			height: auto;
			width: 100%;
			font-size: $font-size-xl;
			padding: 1em;
			@include break(tablet){
				font-size: $font-size-m;
			}
			&:focus-visible{
				@include focus;
			}
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
			&[type='number'] {
				-moz-appearance: textfield;
			}
		}
		[data-part='control'] {
			border-left: 1px solid $color-primary;
			top: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0;
			height: 100%;
			flex-grow: 0;
			aspect-ratio: 1/1;
			&:focus-visible{
				@include focus;
			}
			@mixin arrowButtonDefaults{
				height: 50%;
				width: 100%;
				svg{
					width: 12px;
					height: auto;
					cursor: pointer;
					color: $color-primary;
					position: relative;
					top: -2px;
				}
				&:hover{
					svg{
						color: $white;
					}
				}
			}
			[data-part='increment-trigger'] {
				@include arrowButtonDefaults;
				border-bottom: 1px solid $color-primary;
			}
			[data-part='decrement-trigger'] {
				@include arrowButtonDefaults;
				svg{
					transform: rotate(180deg);
				}
			}
		}
	}
}