@use '@/app/styles/all-vars' as *;

.nostrCopy {
	display: inline-flex;
	align-items: center;
	gap: .5em;
	&__button {
		display: flex;
		align-items: center;
		gap: .5em;
		background-color: $color-bg-2;
		height: 2em;
		border-radius: 2em;
		padding: 0 1em;
		position: relative;
		&:focus {
			outline: 2px solid $color-focus;
		}
	}

	&__key {
		@include text-meta-tiny;
		text-transform: lowercase;
		color: $color-primary;
	}

	&__message {
		position: absolute;
		display: block;
		padding: 1em;
		top: 50%;
		right: -.8em;
		transform: translate(100%, -50%);
		background: black;
	}

	&__icon{
		svg{
			width: .7em;
			height: auto;
			color: white;
		}
	}
}