@use '@/app/styles/all-vars' as *;

.currencyPage{
	&__inner{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: calc($gap *3);
		padding-top: calc($gap);
		padding-bottom: calc($gap);

	}
	&__title{
		font-size: $font-size-xl;
		display: flex;
		gap: .5em;
	}
	&__backLink{
		@include text-link;
	}
	&__price{
		text-align: center;
	}

}

