@use '@/app/styles/all-vars' as *;

.currencyItem{
    border: 2px solid $color-primary;
    position: relative;
	cursor: default;
	list-style-type: none;
	&__percentageBar{
		border: 2px solid black;
        position: absolute;
		top: 0;
		left: 0;
        background-color: $color-bitcoin-accessible;
		height: 100%;
    }
	&__inner{
		position: relative;
		top: 2px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: .2em .6em;
		width: 100%;
		height: calc(100% - 4px);
	}
    &__text{
        @include text-heading-display;
        color: white;
        text-align: right;
        display: block;
        z-index: 1;
        position: relative;
		display: flex;
		height: 100%;
		top: 0;
		align-items: center;
		padding-top:.1em;
		line-height: 1;
    }
	&__statusContainer{
		display: flex;
		flex-direction: row;
		align-items: center;
		z-index: 1;
		gap: .5rem;
		height: 100%;
	}
	
	&:focus-visible{
		outline: 2px solid $color-focus;
		border-color: transparent;
	}

	&--mainUnitKilled{
		.currencyItem{
			&__percentageBar{
				background-color: $color-bitcoin;
			}
			&__text{
				color: black;
			}
			&__icon{
				color: black;
			}
		}
	}
	&__link{
		display: block;
		position: absolute;
		background: transparent;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;
		z-index: 4;
		&:hover{
			outline: 2px solid $white;
		}
		&:focus-visible{
			outline: 2px solid $color-accent;
		}
	}
}