@use '@/app/styles/mixins' as *;

@mixin headerDefaults{
	padding-top: var(--gap);
	padding-bottom: var(--gap);
	@include break(tablet){
		padding-top: calc(var(--gap) * 2);
		padding-bottom: calc(var(--gap) * 2);
	}
}

.header {
	@include headerDefaults;
	&____homepage{
		@include headerDefaults;
	}
	&__container {
		display: flex;
		justify-content: center;
	}
}
