@use '@/app/styles/all-vars' as *;

@mixin headerDefaults{
	padding-top: $gap;
	padding-bottom: $gap;
	@include break(tablet){
		padding-top: calc($gap*2);
		padding-bottom: calc($gap*2);
	}
}

.header {
	@include headerDefaults;
	&____homepage{
		@include headerDefaults;
	}
	&__container {
		display: flex;
		justify-content: center;
	}
}